{% extends 'Modele_admin/base_modele.html' %}
   {% block page_title %}Ajouter Enseignant {% endblock page_title %}
  {% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
     <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter Enseignant</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/sauvegarder_enseignant" method="post">
                  {% csrf_token %}
                <div class="card-body">

                     <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" name="Nom">
                  </div>
                   <div class="form-group">
                    <label>Prenom</label>
                    <input type="text" class="form-control" placeholder="Prenom" name="Prenom">
                  </div>
                    <div class="form-group">
                      <label>Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="username" placeholder="nom d'utilisateur">
                  </div>
                    <div class="form-group">
                      <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Entrez email">
                  </div>
                     <div class="form-group">
                    <label>Mot De Passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                  </div>
                      <div class="form-group">
                         <label for="Genre">Genre:</label>
                         <br>
                        <select id="Genre" name="Genre">
                            <option value="Masculin">Masculin</option>
                            <option value="Feminin">Feminin</option>
                             </select>
                  </div>
                      <div class="form-group">
                    <label>Adresse</label>
                    <input type="text" class="form-control" placeholder="Adresse" name="Adresse">
                  </div>
                      <div class="form-group">
                          {% if messages %}
                             {% for message in messages %}
                               {% if message.tags == 'success' %}
                                 <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                               {% endif %}
                               {% if message.tags == 'error' %}
                                 <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                             {% endfor %}
                          {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Ajouter Enseignant</button>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
