
{% extends 'Modele_admin/base_modele.html' %}
   {% block page_title %}Ajouter Etudiant {% endblock page_title %}
  {% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
     <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter Etudiant</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/sauvegarder_etudiant" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                    <label>CodeApogee</label>
                    <input type="text" class="form-control" placeholder="code" name="CodeApogee">
                  </div>
                     <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" name="Nom">
                  </div>
                   <div class="form-group">
                    <label>Prenom</label>
                    <input type="text" class="form-control" placeholder="Prenom" name="Prenom">
                  </div>
                     <div class="form-group">
                    <label>Date_naissance</label>
                    <input type="date" class="form-control" placeholder="Date_naissance" name="Date_naissance">
                  </div>
                     <div class="form-group">
                         <label for="Genre">Genre:</label>
                         <br>
                        <select id="Genre" name="Genre">
                            <option value="Masculin">Masculin</option>
                            <option value="Feminin">Feminin</option>
                             </select>
                  </div>
                    <div class="form-group">
                    <label>Nom utilisateur</label>
                    <input type="text" class="form-control" placeholder="nom d'utilisateur " name="username">
                  </div>
                     <div class="form-group">
                    <label>email</label>
                    <input type="email" class="form-control" placeholder="email" name="email">
                  </div>
                    <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" placeholder="mot de passe" name="password">
                  </div>
                   <div class="form-group">
                     <label>Adresse</label>
                     <textarea class="form-control" name="Adresse" required></textarea>
                  </div>
                    <div class="form-group">
                     <label>Photo de profile</label>
                     <input type="file" class="form-control" placeholder="photos" name="profile">
                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Ajouter Etudiant</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
